// Media queries **/@extend




@mixin telefono {

  @media (min-width:#{ $telefono}){
    
    @content;

  }

}



@mixin tablet {

    @media (min-width: #{$tablet}){
     
      @content;

    }
  
  }


  @mixin desktop {

    @media (min-width: #{$tablet}){
     
      @content;

    }
  
  }




  @mixin box-sizing($box-model) {
      box-sizing: $box-model;  
  }


@mixin boton($bgcolor , $color) {
  
 background-color: $bgcolor;
 color: $color;
 display: block;
 text-align: center;
 text-decoration: none;
 border: none;
 width: 100%;
 border-radius: $radius;
 font-size: 1.5rem;
 padding: 1rem 0;
}
